.chart {
    flex: 4;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    padding: 10px;
    color: gray;

    .title {
        margin-bottom: 20px;
        font-size: 1.5em; // Tamaño del texto ajustable
        font-weight: bold; // Resalta el título
    }

    .chartGrid {
        stroke: rgb(228, 225, 225); // Color para el grid de la gráfica
    }

    .custom-tooltip {
        background-color: #ffffff; // Fondo blanco
        border: 1px solid rgba(0, 0, 0, 0.2); // Borde suave
        padding: 5px; // Espaciado interno
        border-radius: 4px; // Bordes redondeados
        font-size: 0.9em; // Tamaño del texto ajustado
        color: #000; // Texto negro para mejor legibilidad
    }

    .recharts-tooltip-wrapper {
        text-align: left; // Alineación del texto
    }
}
