.newProduct {
  display: flex;

  .newProductContainer {
    flex: 1;
    padding: 0px;
    background-color: #f9f9f9;

    .content {
      h1 {
        margin-bottom: 20px;
        font-size: 24px;
        color: #333;
      }

      .formWrapper {
        display: flex;
        gap: 0px;

        .imagePreview {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 200px;
            height: 200px;
            border-radius: 10px;
            object-fit: cover;
            border: 2px solid #ddd;
          }
        }

        .form {
          flex: 2;
          display: flex;
          flex-direction: column;
          gap: 15px;
          background-color: white;
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

          .formGroup {
            display: flex;
            flex-direction: column;
            gap: 5px;

            label {
              font-size: 14px;
              color: #555;
            }

            input,
            select {
              padding: 10px;
              border: 1px solid #ccc;
              border-radius: 5px;
              font-size: 14px; /* Asegura que el texto sea del mismo tamaño */
            }
          }

          .submitButton {
            padding: 10px 15px;
            background-color: #008080;
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
              background-color: #006666;
            }
          }
        }
      }
    }
  }
}
